@import './../../../assets/styles/01-settings/colors';
@import './../../../assets/styles/01-settings/typography';
@import './../../../assets/styles/02-tools/grid';

.donate-form {
    &__frequencies {
        display: flex;
        margin-bottom: 1.5rem;
    }

    &__frequency,
    &__card-amount {
        font-family: $font-sans;
        font-size: map-get($font-sizes, 2);
    }

    &__frequency {
        flex: 1;
        border: 1px solid $tan;
        background: $tan-light;
        padding: .5rem 1rem;
        color: $tan;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

        &:first-child {
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;
        }

        &:last-child {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        &[selected] {
            background: $tan;
            color: $white;
        }
    }

    &__card {
        background: $tan-light;
        border: 1px solid $tan;
        border-radius: .25rem;
        
        &-title {
            background: $tan;
            padding: .5rem;
            color: $white;
            font-size: map-get($font-sizes, 3);
            font-weight: 500;
            text-align: center;
        }

        &-container {
            padding: 1.5rem;
        }

        &-amounts {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -0.25rem 1.5rem;
        }

        &-amount {
            min-height: 54px;
            background: $white;
            padding: 1rem .5rem;
            border-radius: .25rem;
            border: 1px solid $tan;
            margin: 0.25rem;
            flex: calc(((1 / 3) * 100%) - .5rem);
            color: $tan;
            font-weight: 500;
            cursor: pointer;

            &-currency {
                display: none;
                font-size: .875rem;
            }

            &-other {
                &-label {

                }

                &-holder {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    color: $tan;
                    border-radius: .25rem;
                }

                &-input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    padding: 1rem 3rem 1rem 2rem;
                    font-size: 100%;
                    font-family: $font-sans;
                    font-weight: 500;
                    color: $tan;
                    border: 0;
                    background: transparent;
                }

                &-symbol {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 1.5rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                &-currency {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    position: absolute;
                    top: 0;
                    right: .5rem;
                    width: 3rem;
                    height: 100%;
                    font-size: .875rem;
                }
            }

            &[value="Other Amount"] {
                position: relative;
                flex: calc(((2 / 3) * 100%) - .5rem);
            }

            &[selected] {
                background: $tan;
                color: $white;

                &[value="Other Amount"] {
                    padding: 0;
                }

                & .donate-form__card-amount-other {
                    &-label {
                        display: none;
                    }

                    &-holder {
                        display: block;
                    }
                }
            }
        }

        &-submit {
            display: block;
            width: 100%;
            border-radius: .25rem;
        }
    }

    &.is-one-time {
        & .donate-form__card {
            &-title-monthly {
                display: none;
            }

            &-amounts {
                &--one-time {
                    display: flex;
                }

                &--monthly {
                    display: none;
                }
            }
        }
    }

    &.is-monthly {
        & .donate-form__card {
            &-amounts {
                &--one-time {
                    display: none;
                }

                &--monthly {
                    display: flex;
                }
            }
        }
    }

    @include styleBreakpoint('lg') {
        &__frequency,
        &__card-amount {
            font-size: map-get($font-sizes, 3);
        }

        &__card-amount-currency {
            display: inline;
        }
    }
}

.modal formtemplate .sli-content-pane {
    max-width: 100% !important;
}