@import './../../../assets/styles/01-settings/typography';

.donation-tiers {
    width: 100%;

    & > tbody {
        & > tr {
            & > th,
            & > td {
                padding: 1rem 0;
            }

            & > th {
                font-family: $font-serif;
                font-size: 4rem;
                text-align: left;
            }

            & > td {
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width: 45.49rem) {
        display: block;

        & > tbody,
        & > tbody > tr,
        & > tbody > tr > th,
        & > tbody > tr > td {
            display: block;
        }

        & > tbody > tr > th {
            padding: 1rem 0 0;
            text-align: center;
        }

        & > tbody > tr > td {
            padding: 0 0 1rem;
            text-align: center;
        }
    }
}
