$black: #000000;
$gold: #CDB52C;
$gray: #818181;
$tan: #8A6F4F;
$tan-light: #FAF7F3;
$white: #FFFFFF;

$colors: (
    "black": $black,
    "gold": $gold,
    "gray": $gray,
    "tan": $tan,
    "tan-light": $tan-light,
    "white": $white
);
