@import './../../../assets/styles/01-settings/typography';
@import './../../../assets/styles/02-tools/grid';

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 8rem);
    padding: 5.5rem 0;

    &-split {
        padding: 5.5rem 0;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        & > img,
        &-image,
        &-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 0;
        }

        &-split {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 90%;
            width: 30%;
            object-fit: cover;
            object-position: top right;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        width: 100%;

        p {
            font-size: 20px;
        }
    }

    &__title {
        font-size: map-get($font-sizes, 5);
    }

    &__anchor {
        position: absolute;
        z-index: 2;
        bottom: 2rem;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: bounce 2.5s infinite;

        &:hover {
            animation: none;
        }
    }

    &__split-mobile {
        display: block;
        margin: 2rem auto 0;
        max-width: 75%;
    }

    @include styleBreakpoint('md') {
        &__background {
            &-split {
                display: block;
            }
        }

        &-split {
            padding: 8.5rem 0 0;
        }

        &__split-mobile {
            display: none;
        }
    }

    @include styleBreakpoint('lg') {
        min-height: 100vh;
        padding: 8.5rem 0;

        &-split {
            padding: 8.5rem 0 0;
        }

        &__title {
            font-size: map-get($font-sizes, 8);
        }

        &__content {
            p {
                font-size: 32px;
            }
        }
    }

    &.hero--featured-story {
        min-height: auto;

        p {
            font-size: 20px;
        }
    }
}

@include styleBreakpoint('lg') {
    .page > .hero:first-child {
        padding-top: 11.25rem;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }