@import './../01-settings/grid';
@import './../02-tools/grid';

.grid {
    @include styleAllBreakpoints() {
        display: grid;
    }

    &-gap {
        @include styleAllBreakpoints() {

            @each $key,
            $value in $gutters {
                &-#{$key} {
                    gap: $value;
                }

                &-y-#{$key} {
                    row-gap: $value;
                }

                &-x-#{$key} {
                    column-gap: $value;
                }
            }
        }
    }

    &-cols {
        @include styleAllBreakpoints() {

            @each $key,
            $value in $grid-cols {
                &-#{$key} {
                    grid-template-columns: $value;
                }
            }

            &-\[1fr\,1fr\] {
                grid-template-columns: 1fr 1fr;
            }

            &-\[1fr\,2fr\] {
                grid-template-columns: 1fr 2fr;
            }

            &-\[1fr\,3fr\] {
                grid-template-columns: 1fr 3fr;
            }

            &-\[1fr\,4fr\] {
                grid-template-columns: 1fr 4fr;
            }

            &-\[2fr\,1fr\] {
                grid-template-columns: 2fr 1fr;
            }

            &-\[3fr\,1fr\] {
                grid-template-columns: 3fr 1fr;
            }

            &-\[4fr\,1fr\] {
                grid-template-columns: 4fr 1fr;
            }
        }
    }
}