@import './../01-settings/colors';

.input {
    &-text {
        & > input {
            display: block;
            width: 100%;
            padding: 1rem;
            border: 1px solid $gray;
            font-size: 1rem;
        }
    }
}